USE [master]
GO
/****** Object:  Database [proyecto_2doParcial]    Script Date: 2/7/2026 8:33:04 a. m. ******/
CREATE DATABASE [proyecto_2doParcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyecto_2doParcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\proyecto_2doParcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyecto_2doParcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\proyecto_2doParcial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyecto_2doParcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyecto_2doParcial]
GO
/****** Object:  UserDefinedFunction [dbo].[FacturaDespacho]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Luis J
-- Create date: 01-07-26
-- Description:	
-- =============================================
CREATE FUNCTION [dbo].[FacturaDespacho](
	@IdPropuesta int
)
RETURNS @Reporte TABLE (
    [Proyecto/Cliente] NVARCHAR(150),  
    [Período (Primeros 30 Días)] NVARCHAR(60), 
    [Código] INT,
    [Descripción] NVARCHAR(150),
    [Cantidad] INT,
    [Precio Alquiler (Mes)] DECIMAL(18,2),
    [Importe] DECIMAL(18,2)
)
AS
BEGIN
    DECLARE @SubtotalGeneral DECIMAL(18,2);
    DECLARE @ImpuestoGeneral DECIMAL(18,2);
    DECLARE @TotalGeneral DECIMAL(18,2);

    INSERT INTO @Reporte
    SELECT 
        PR.Descripcion,
        CONVERT(NVARCHAR, P.FechaPropuesta, 103) + N' a ' + 
        CONVERT(NVARCHAR, DATEADD(day, 30, P.FechaPropuesta), 103),
        E.Id, 
        E.Descripcion, 
        C.Cuenta, 
        CAST(E.PrecioAlquiler AS DECIMAL(18,2)),         
        CAST((C.Cuenta * E.PrecioAlquiler) AS DECIMAL(18,2))         
    FROM dbo.Conteo C
    INNER JOIN dbo.Equipo E ON C.IdEquipo = E.Id
    INNER JOIN dbo.Propuesta P ON C.IdPropuesta = P.IdPropuesta
    INNER JOIN dbo.Proyecto PR ON P.IdProyecto = PR.IdProyecto
    WHERE C.IdPropuesta = @IdPropuesta;
    SELECT 
        @SubtotalGeneral = SUM([Importe]),
        @ImpuestoGeneral = @SubtotalGeneral * 0.18,
        @TotalGeneral = @SubtotalGeneral + @ImpuestoGeneral
    FROM @Reporte;

    INSERT INTO @Reporte VALUES (N'--------------------', NULL, NULL, N'--------------------', NULL, NULL, NULL);
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) VALUES (N'TOTALES', N'Subtotal Inicial', @SubtotalGeneral);
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) VALUES (N'TOTALES', N'ITBIS (18%)', @ImpuestoGeneral);
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) VALUES (N'TOTALES', N'Total Primer Mes (Adelantado)', @TotalGeneral);

    RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[FacturaDevolucion]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Luis J
-- Create date: 01-07-26
-- Description:	
-- =============================================
CREATE FUNCTION [dbo].[FacturaDevolucion](
	@IdProyecto int,
	@DiasProporcionales int 
)
RETURNS @Reporte TABLE (
    [Proyecto/Cliente] NVARCHAR(150),  
    [Período] NVARCHAR(60), 
    [Código] INT,
    [Descripción] NVARCHAR(150),
    [Cantidad] INT,
    [Tarifa Diaria] DECIMAL(18,2),
    [Días Cobrados] INT,
    [Importe] DECIMAL(18,2)
)
AS
BEGIN
    DECLARE @SubtotalGeneral DECIMAL(18,2);
    DECLARE @ImpuestoGeneral DECIMAL(18,2);
    DECLARE @TotalGeneral DECIMAL(18,2);

    INSERT INTO @Reporte
    SELECT 
        PR.Descripcion,
        N'Proporcional cobrado a la fecha', 
        E.Id, 
        E.Descripcion, 
        DD.CantidadDevuelta,        
        CAST((E.PrecioAlquiler / 30.0) AS DECIMAL(18,2)), 
        @DiasProporcionales,
        CAST((DD.CantidadDevuelta * (E.PrecioAlquiler / 30.0) * @DiasProporcionales) AS DECIMAL(18,2)) 
        
    FROM dbo.DetalleDevolucion DD
    INNER JOIN dbo.Devolucion D ON DD.IdDevolucion = D.IdDevolucion
    INNER JOIN dbo.Equipo E ON DD.IdEquipo = E.Id
    INNER JOIN dbo.Proyecto PR ON D.IdProyecto = PR.IdProyecto
    WHERE D.IdProyecto = @IdProyecto;

    SELECT @SubtotalGeneral = SUM([Importe]) FROM @Reporte;
    SET @ImpuestoGeneral = @SubtotalGeneral * 0.18;
    SET @TotalGeneral = @SubtotalGeneral + @ImpuestoGeneral;

    INSERT INTO @Reporte VALUES (N'--------------------', NULL, NULL, N'--------------------', NULL, NULL, NULL, NULL);
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) VALUES (N'TOTALES', N'Subtotal', @SubtotalGeneral);
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) VALUES (N'TOTALES', N'ITBIS (18%)', @ImpuestoGeneral);
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) VALUES (N'TOTALES', N'Total a Pagar', @TotalGeneral);

    RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[FacturaVenta]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Luis J
-- Create date: 01-07-26
-- Description:	
-- =============================================

CREATE FUNCTION [dbo].[FacturaVenta](
	@IdProyecto int
)
RETURNS @Reporte TABLE (
    [Proyecto] NVARCHAR(150),  
    [Código] INT,
    [Descripción] NVARCHAR(150),
    [Faltantes/Perdidos] INT,
    [Precio Venta] DECIMAL(18,2),
    [Importe] DECIMAL(18,2)
)
AS
BEGIN
    DECLARE @SubtotalGeneral DECIMAL(18,2);
    DECLARE @ImpuestoGeneral DECIMAL(18,2);
    DECLARE @TotalGeneral DECIMAL(18,2);

    INSERT INTO @Reporte
    SELECT 
        PR.Descripcion,
        E.Id, 
        E.Descripcion, 
        DD.CantidadPerdida, 
        E.PrecioVenta,     
        (DD.CantidadPerdida * E.PrecioVenta)       
    FROM dbo.DetalleDevolucion DD
    INNER JOIN dbo.Devolucion D ON DD.IdDevolucion = D.IdDevolucion
    INNER JOIN dbo.Equipo E ON DD.IdEquipo = E.Id
    INNER JOIN dbo.Proyecto PR ON D.IdProyecto = PR.IdProyecto
    WHERE D.IdProyecto = @IdProyecto AND DD.CantidadPerdida > 0;

    SELECT @SubtotalGeneral = SUM([Importe]) FROM @Reporte;
    SET @ImpuestoGeneral = @SubtotalGeneral * 0.18;
    SET @TotalGeneral = @SubtotalGeneral + @ImpuestoGeneral;

    IF @SubtotalGeneral IS NOT NULL
    BEGIN
        INSERT INTO @Reporte VALUES (N'--------------------', NULL, N'--------------------', NULL, NULL, NULL);
        INSERT INTO @Reporte ([Proyecto], [Descripción], [Importe]) VALUES (N'TOTALES', N'Subtotal Venta', @SubtotalGeneral);
        INSERT INTO @Reporte ([Proyecto], [Descripción], [Importe]) VALUES (N'TOTALES', N'ITBIS (18%)', @ImpuestoGeneral);
        INSERT INTO @Reporte ([Proyecto], [Descripción], [Importe]) VALUES (N'TOTALES', N'Total Venta Definitiva', @TotalGeneral);
    END

    RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[GenerarFacturaContinuacion]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Luis J
-- Create date: 01-07-26
-- Description:	
-- =============================================
CREATE FUNCTION [dbo].[GenerarFacturaContinuacion](
	@IdPropuesta int
)
RETURNS @Reporte TABLE (
    [Proyecto/Cliente] NVARCHAR(150),  
    [Período (Inicio - Fin)] NVARCHAR(60), 
    [Código] INT,
    [Descripción] NVARCHAR(150),
    [Cantidad] INT,
    [Monto] DECIMAL(18,2),
    [Importe] DECIMAL(18,2)
)
AS
BEGIN
    DECLARE @SubtotalGeneral DECIMAL(18,2);
    DECLARE @ImpuestoGeneral DECIMAL(18,2);
    DECLARE @TotalGeneral DECIMAL(18,2);

    INSERT INTO @Reporte
    SELECT 
        PR.Descripcion,
        
        CONVERT(NVARCHAR, DATEADD(day, 30, P.FechaPropuesta), 103) + N' a ' + 
        CONVERT(NVARCHAR, DATEADD(day, 60, P.FechaPropuesta), 103),
        
        E.Id, 
        E.Descripcion, 
        C.Cuenta, 
        E.PrecioAlquiler,         
        (C.Cuenta * E.PrecioAlquiler)         
    FROM dbo.Conteo C
    INNER JOIN dbo.Equipo E ON C.IdEquipo = E.Id
    INNER JOIN dbo.Propuesta P ON C.IdPropuesta = P.IdPropuesta
    INNER JOIN dbo.Proyecto PR ON P.IdProyecto = PR.IdProyecto
    WHERE C.IdPropuesta = @IdPropuesta;

    SELECT 
        @SubtotalGeneral = SUM([Importe]),
        @ImpuestoGeneral = @SubtotalGeneral * 0.18,
        @TotalGeneral = @SubtotalGeneral + @ImpuestoGeneral
    FROM @Reporte;

    INSERT INTO @Reporte VALUES (N'--------------------', NULL, NULL, N'--------------------', NULL, NULL, NULL);
    
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) 
    VALUES (N'TOTALES', N'Subtotal', @SubtotalGeneral);
    
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) 
    VALUES (N'TOTALES', N'Imp', @ImpuestoGeneral);
    
    INSERT INTO @Reporte ([Proyecto/Cliente], [Descripción], [Importe]) 
    VALUES (N'TOTALES', N'Total', @TotalGeneral);

    RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[propuesta_inicial]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Luis J
-- Create date: 01-07-26
-- Description:	
-- =============================================
CREATE FUNCTION [dbo].[propuesta_inicial]
(
	-- Add the parameters for the function here
	@IdProducto int, @CantProducto int
)
RETURNS @Reporte TABLE (
    [Proposito] NVARCHAR(30),
    [Código] INT,
    [Descripción] NVARCHAR(150),
    [Cantidad Disponible] INT,
    [Precio Unitario] DECIMAL(18,2),
    [Subtotal]DECIMAL(18,2)
)
AS
BEGIN
DECLARE @SubtotalGeneral DECIMAL(18,2);
DECLARE @ImpuestoGeneral DECIMAL(18,2);
DECLARE @TotalGeneral DECIMAL(18,2);

insert into @Reporte
   select
    N'EQUIPOS EN ALQUILER',Id ,Descripcion, CantidadEnExistencia, PrecioAlquiler, @CantProducto * PrecioAlquiler
  from Equipo
  where Id = @IdProducto

  INSERT INTO @Reporte VALUES (N'- - - - - - - - - -', NULL, N'- - - - - - - - - -', NULL, NULL, NULL);

    INSERT INTO @Reporte
    SELECT
        N'EQUIPOS EN VENTA',Id, Descripcion, CantidadEnExistencia,PrecioVenta, (@CantProducto * PrecioVenta)
    FROM Equipo
    WHERE Id = @IdProducto;

  SELECT 
    @SubtotalGeneral = SUM([Subtotal]),
    @ImpuestoGeneral = @SubtotalGeneral * 0.18,
    @TotalGeneral = @SubtotalGeneral + @ImpuestoGeneral
FROM @Reporte;

    INSERT INTO @Reporte VALUES (N'--------------------', NULL, N'--------------------', NULL, NULL, NULL);
    
    INSERT INTO @Reporte ([Proposito], [Descripción], [Subtotal]) 
    VALUES (N'TOTALES', N'Subtotal General', @SubtotalGeneral);
    
    INSERT INTO @Reporte ([Proposito], [Descripción], [Subtotal]) 
    VALUES (N'TOTALES', N'Impuesto (ITBIS 18%)', @ImpuestoGeneral);
    
    INSERT INTO @Reporte ([Proposito], [Descripción], [Subtotal]) 
    VALUES (N'TOTALES', N'Total General', @TotalGeneral);
	RETURN 
END
GO
/****** Object:  Table [dbo].[DetalleDevolucion]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleDevolucion](
	[IdDevolucion] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[CantidadDevuelta] [int] NULL,
	[CantidadPerdida] [int] NULL,
 CONSTRAINT [PK_DetalleDevolucion] PRIMARY KEY CLUSTERED 
(
	[IdDevolucion] ASC,
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyecto](
	[IdProyecto] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[Direccion] [varchar](150) NULL,
 CONSTRAINT [PK_Proyecto] PRIMARY KEY CLUSTERED 
(
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devolucion]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devolucion](
	[IdDevolucion] [int] IDENTITY(1,1) NOT NULL,
	[IdProyecto] [int] NOT NULL,
	[Monto] [float] NULL,
 CONSTRAINT [PK_Devolucion] PRIMARY KEY CLUSTERED 
(
	[IdDevolucion] ASC,
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propuesta]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propuesta](
	[IdPropuesta] [int] IDENTITY(1,1) NOT NULL,
	[IdProyecto] [int] NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[FechaPropuesta] [date] NULL,
	[Estatus] [varchar](10) NULL,
	[Monto] [float] NULL,
	[Impuesto] [float] NULL,
	[PorcentajeDescuento] [float] NULL,
 CONSTRAINT [PK_Propuesta] PRIMARY KEY CLUSTERED 
(
	[IdPropuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conteo]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conteo](
	[IdConteo] [int] IDENTITY(1,1) NOT NULL,
	[IdPropuesta] [int] NULL,
	[IdEquipo] [int] NULL,
	[Cuenta] [int] NULL,
 CONSTRAINT [PK_Conteo] PRIMARY KEY CLUSTERED 
(
	[IdConteo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Despacho]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Despacho](
	[IdDespacho] [int] IDENTITY(1,1) NOT NULL,
	[IdConteo] [int] NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_Despacho] PRIMARY KEY CLUSTERED 
(
	[IdDespacho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdDespacho] [int] NULL,
	[Tipo] [varchar](20) NULL,
	[Fecha] [date] NULL,
	[Monto] [float] NULL,
	[FechaInicioPeriodo] [date] NULL,
	[FechaFinPeriodo] [date] NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[IdFactura] [int] NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[PrecioAplicado] [float] NULL,
 CONSTRAINT [PK_DetalleFactura] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC,
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProyectosCerrados]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- d. Proyectos cerrados con la información de las facturas generadas desde su inicio.
-- View para ver todos los proyectos cerrados
CREATE VIEW [dbo].[ProyectosCerrados] AS
SELECT P.IdProyecto, P.Descripcion, SUM(DF.Cantidad) AS TotalDespachado,
    ISNULL(SUM(DD.CantidadDevuelta + DD.CantidadPerdida), 0) AS TotalRecuperado
FROM Proyecto AS P
JOIN Propuesta AS PR ON PR.IdProyecto = P.IdProyecto
JOIN Conteo AS C ON C.IdPropuesta = PR.IdPropuesta
JOIN Despacho AS D ON D.IdConteo = C.IdConteo
JOIN Factura AS F ON F.IdDespacho = D.IdDespacho
JOIN DetalleFactura AS DF ON DF.IdFactura = F.IdFactura 
LEFT JOIN Devolucion AS DEV ON DEV.IdProyecto = PR.IdPropuesta
LEFT JOIN DetalleDevolucion AS DD ON DD.IdDevolucion = DEV.IdDevolucion
WHERE PR.Estatus = 'Aprobada' 
GROUP BY P.IdProyecto, P.Descripcion
HAVING SUM(DF.Cantidad) - ISNULL(SUM(DD.CantidadDevuelta + DD.CantidadPerdida), 0) = 0;
GO
/****** Object:  View [dbo].[ProyectosFacturasContinuacionActual]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- e. Proyecto con equipos en alquiler con sus facturas de continuación que vencen en el mes actual
CREATE VIEW [dbo].[ProyectosFacturasContinuacionActual] AS
SELECT P.IdProyecto, P.Descripcion, F.IdFactura, F.Tipo, F.FechaFinPeriodo, F.Monto
FROM Factura AS F
JOIN Despacho AS D ON D.IdDespacho = F.IdDespacho
JOIN Conteo AS C ON C.IdConteo = D.IdConteo
JOIN Propuesta AS PR ON PR.IdPropuesta = C.IdPropuesta
JOIN Proyecto AS P ON P.IdProyecto = PR.IdProyecto
WHERE F.Tipo = 'Continuacion'
AND MONTH(F.FechaFinPeriodo) = MONTH(GETDATE())
AND YEAR(F.FechaFinPeriodo) = YEAR(GETDATE())
AND PR.Estatus = 'Aprobada';
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [varchar](50) NULL,
	[SegundoNombre] [varchar](50) NULL,
	[PrimerApellido] [varchar](50) NULL,
	[SegundoApellido] [varchar](50) NULL,
	[DocumentoIdentidad] [varchar](15) NULL,
	[Direccion] [varchar](150) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CierreDiario]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- g. Cierre diario (Facturas que vencen en el día).
CREATE VIEW [dbo].[CierreDiario] AS
SELECT CL.Id AS IdCliente, P.IdProyecto, P.Descripcion, F.*
FROM Factura AS F
JOIN Despacho AS D ON D.IdDespacho = F.IdDespacho
JOIN Conteo AS C ON C.IdConteo = D.IdConteo
JOIN Propuesta AS PR ON PR.IdPropuesta = C.IdPropuesta
JOIN Proyecto AS P ON P.IdProyecto = PR.IdProyecto
JOIN Cliente AS CL ON CL.Id = P.IdCliente
WHERE CAST(F.FechaFinPeriodo AS date) = CAST(GETDATE() AS date);
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[PrecioAlquiler] [float] NULL,
	[PrecioVenta] [float] NULL,
	[CantidadEnExistencia] [int] NULL,
	[CantidadPrestada] [int] NULL,
 CONSTRAINT [PK_Equipo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GenerarConteo]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GenerarConteo] AS
SELECT 
    C.IdPropuesta,
    E.Id,
    E.Descripcion,
    C.Cuenta,
    N'______' AS [Entregado]
FROM Conteo C
INNER JOIN Equipo E ON C.IdEquipo = E.Id;
GO
/****** Object:  View [dbo].[ConduceEntrega]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ConduceEntrega] AS
SELECT 
    C.IdPropuesta AS [No. Propuesta],
    E.Id AS [Código],
    E.Descripcion AS [Descripción],
    C.Cuenta AS [Cantidad Entregada]  
FROM dbo.Conteo C
INNER JOIN dbo.Equipo E ON C.IdEquipo = E.Id;
GO
/****** Object:  View [dbo].[ConteoDevolucion]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ConteoDevolucion] AS
SELECT 
    C.IdPropuesta,
    E.Id AS [Código],
    E.Descripcion AS [Descripción],
    N'______' AS [Devuelto] 
FROM dbo.Conteo C
INNER JOIN dbo.Equipo E ON C.IdEquipo = E.Id;

GO
/****** Object:  View [dbo].[ConduceDevolucion]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ConduceDevolucion] AS
SELECT 
    C.IdPropuesta,
    PR.Descripcion AS [Proyecto/Cliente],
    CONVERT(NVARCHAR, P.FechaPropuesta, 103) + N' a ' + CONVERT(NVARCHAR, DATEADD(day, 30, P.FechaPropuesta), 103) AS [Período],
    E.Id AS [Código],
    E.Descripcion AS [Descripción],
    C.Cuenta AS [Cantidad Devuelta] 
FROM dbo.Conteo C
INNER JOIN dbo.Equipo E ON C.IdEquipo = E.Id
INNER JOIN dbo.Propuesta P ON C.IdPropuesta = P.IdPropuesta
INNER JOIN dbo.Proyecto PR ON P.IdProyecto = PR.IdProyecto;

GO
/****** Object:  View [dbo].[InventarioPorProyecto]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[InventarioPorProyecto] AS
SELECT 
    PR.Descripcion AS [Proyecto],
    CL.PrimerNombre AS [Cliente],
    E.Id AS [Código Equipo],
    E.Descripcion AS [Equipo],
    DD.CantidadDevuelta AS [Cantidad Devuelta],
    DD.CantidadPerdida AS [Cantidad Perdida],
    (DD.CantidadDevuelta + DD.CantidadPerdida) AS [Total Retornado]
FROM dbo.DetalleDevolucion DD
INNER JOIN dbo.Devolucion D ON DD.IdDevolucion = D.IdDevolucion
INNER JOIN dbo.Equipo E ON DD.IdEquipo = E.Id
INNER JOIN dbo.Proyecto PR ON D.IdProyecto = PR.IdProyecto
INNER JOIN dbo.Cliente CL ON PR.IdCliente = CL.Id; 

GO
/****** Object:  Table [dbo].[Deposito]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deposito](
	[IdDeposito] [int] IDENTITY(1,1) NOT NULL,
	[IdProyecto] [int] NOT NULL,
	[Monto] [float] NULL,
 CONSTRAINT [PK_Deposito] PRIMARY KEY CLUSTERED 
(
	[IdDeposito] ASC,
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DepositoPorProyecto]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DepositoPorProyecto] AS
SELECT 
    PR.Descripcion AS [Proyecto],
    CL.PrimerNombre AS [Cliente],
    D.IdDeposito AS [No. Depósito],
    CAST(D.Monto AS DECIMAL(18,2)) AS [Monto Depósito] 

FROM dbo.Deposito D
INNER JOIN dbo.Proyecto PR ON D.IdProyecto = PR.IdProyecto
INNER JOIN dbo.Cliente CL ON PR.IdCliente = CL.Id;

GO
ALTER TABLE [dbo].[Conteo]  WITH CHECK ADD  CONSTRAINT [FK_Conteo_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipo] ([Id])
GO
ALTER TABLE [dbo].[Conteo] CHECK CONSTRAINT [FK_Conteo_Equipo]
GO
ALTER TABLE [dbo].[Conteo]  WITH CHECK ADD  CONSTRAINT [FK_Conteo_Propuesta] FOREIGN KEY([IdPropuesta])
REFERENCES [dbo].[Propuesta] ([IdPropuesta])
GO
ALTER TABLE [dbo].[Conteo] CHECK CONSTRAINT [FK_Conteo_Propuesta]
GO
ALTER TABLE [dbo].[Deposito]  WITH CHECK ADD  CONSTRAINT [FK_Deposito_Proyecto] FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[Proyecto] ([IdProyecto])
GO
ALTER TABLE [dbo].[Deposito] CHECK CONSTRAINT [FK_Deposito_Proyecto]
GO
ALTER TABLE [dbo].[Despacho]  WITH CHECK ADD  CONSTRAINT [FK_Despacho_Conteo] FOREIGN KEY([IdConteo])
REFERENCES [dbo].[Conteo] ([IdConteo])
GO
ALTER TABLE [dbo].[Despacho] CHECK CONSTRAINT [FK_Despacho_Conteo]
GO
ALTER TABLE [dbo].[DetalleDevolucion]  WITH CHECK ADD  CONSTRAINT [FK_DetalleDevolucion_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipo] ([Id])
GO
ALTER TABLE [dbo].[DetalleDevolucion] CHECK CONSTRAINT [FK_DetalleDevolucion_Equipo]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipo] ([Id])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Equipo]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Factura]
GO
ALTER TABLE [dbo].[Devolucion]  WITH CHECK ADD  CONSTRAINT [FK_Devolucion_Proyecto] FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[Proyecto] ([IdProyecto])
GO
ALTER TABLE [dbo].[Devolucion] CHECK CONSTRAINT [FK_Devolucion_Proyecto]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Despacho] FOREIGN KEY([IdDespacho])
REFERENCES [dbo].[Despacho] ([IdDespacho])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Despacho]
GO
ALTER TABLE [dbo].[Propuesta]  WITH CHECK ADD  CONSTRAINT [FK_Propuesta_Proyecto] FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[Proyecto] ([IdProyecto])
GO
ALTER TABLE [dbo].[Propuesta] CHECK CONSTRAINT [FK_Propuesta_Proyecto]
GO
ALTER TABLE [dbo].[Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_Proyecto_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Proyecto] CHECK CONSTRAINT [FK_Proyecto_Cliente]
GO
/****** Object:  Trigger [dbo].[ActualizarDepositoPorPerdida]    Script Date: 2/7/2026 8:33:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LuijJ
-- Create date: 02-07-26
-- Description:	
-- =============================================
CREATE TRIGGER [dbo].[ActualizarDepositoPorPerdida]
ON [dbo].[DetalleDevolucion]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE D
    SET D.Monto = D.Monto - (I.CantidadPerdida * E.PrecioVenta)
    FROM dbo.Deposito D
    INNER JOIN dbo.Devolucion Dev ON D.IdProyecto = Dev.IdProyecto
    INNER JOIN inserted I ON Dev.IdDevolucion = I.IdDevolucion
    INNER JOIN dbo.Equipo E ON I.IdEquipo = E.Id
    WHERE I.CantidadPerdida > 0;
END
GO
ALTER TABLE [dbo].[DetalleDevolucion] ENABLE TRIGGER [ActualizarDepositoPorPerdida]
GO
/****** Object:  Trigger [dbo].[ActualizarInventarioGlobal]    Script Date: 2/7/2026 8:33:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Luis J
-- Create date: 01-07-26
-- Description:	
-- =============================================
CREATE TRIGGER [dbo].[ActualizarInventarioGlobal]
ON [dbo].[DetalleDevolucion]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE E
    SET 
        E.CantidadEnExistencia = E.CantidadEnExistencia + I.CantidadDevuelta,
        E.CantidadPrestada = E.CantidadPrestada - (I.CantidadDevuelta + I.CantidadPerdida)
    FROM dbo.Equipo E
    INNER JOIN inserted I ON E.Id = I.IdEquipo;
END
GO
ALTER TABLE [dbo].[DetalleDevolucion] ENABLE TRIGGER [ActualizarInventarioGlobal]
GO
USE [master]
GO
